default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

production:
  primary:
    database: conector_production
    host: conector-api-db
    username: kk1234
    password: kkb9999
    pool: 10
    <<: *default
